
jogo_dado/jogo_dado.hw/jogo_dado.lpr

jogo_dado/jogo_dado.cache/wt/project.wpc

jogo_dado/jogo_dado.xpr

jogo_dado/jogo_dado.sim/

jogo_dado/jogo_dado.ip_user_files/

jogo_dado/jogo_dado.cache/

jogo_dado/jogo_dado.runs/
